* {
    box-sizing: border-box;
}
body
.wrapper {
    width: 600px;
    margin: auto;
    box-shadow: 0px 0px 20px;
     background-color: rgb(200,166,40);
}
.clear {
    clear: both;
}

header {
 background-color: rgb(167,36,19);
 padding: 15px;
 font-family: fantasy;
 font-size: 12pt;
 width:700px;
}

.floatleft {
    float: left;
    padding: 10px
}
.floatright {
    float: right;
    padding: 10px;
}

.menu {
    width: 520px;
}
nav {
    background-color: rgb(200,166,40);
    float:left;
    width:150px;
    padding-bottom: 600px
}

main {
  background-color:rgb(199,123,12);
  margin:0;
  padding: 15px;
  float:left;
  width:550px;
}

main img {
    clear: both;
}

footer {
    background-color:rgb(167,36,19);
    padding: 15px;
    padding-left: 200px;
    font-family: fantasy;
    width: 700px;
}

.pizza {
    position: fixed;
    background-image: url(pizza.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 15px;
    right: 430px;
    width: 80px;
    height: 80px;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.order {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -0%);
    font-size: 16pt;
    color: white;
    top:30px;
    right:400px;
    text-shadow: -1px 2px 1px black
}