div {
    float: right;
    margin-top: -300px;
    margin-left: 70px;
}

#wizard {
   background-color: beige;
   position: relative;
   bottom: 450px;
   right: 250px;
   padding: 15px;
   width: 560px;
}

#spells {
    background-color: beige;
    position: relative;
    top: 300px;
    right: 380px;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20pt;
}

#spells:hover {
    background-color: black;
color: white;
}

#memes {
    background-color: beige;
    color:black;
    font-size: 20pt;
    position: relative;
    bottom: 200px;
    right: 20px;
}

#memes:hover {
    color: white;
    background-color: black;
}

@media (max-width: 45em) {
   header {position: static;
        float: none; font-size: 12pt;}
    li {display: inline; padding: 5px;}
    nav {width: 100%; padding:1px;}
    #spells {position: relative; top: 300px; left: 212px;}
    #memes {
        position: relative; top: 170px; left: 110px;
    }
    body {background-size:auto;}
}