body {
    background-image: url(images/Hogwarts%20Castle%20Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;}

header {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 17pt;
    font-family:fantasy;
    padding-bottom: 1px;}

nav {
    background-color: black;
    width: 190px;
    padding-bottom: 500px;
    padding-right: 20px; 
    font-family: sans-serif;
    padding-top: 10px;}

li {
  list-style: none;
  padding-right: 20px;
  position: relative;
  right: 10px;
  width: 160px;
  padding-top: 15px;}

a {
    color: white;
    font-size: 14pt;
    padding: 10px;
    text-decoration: none;}

a:hover {
    color:yellow;
    cursor: pointer;}

div {
    float: right;
    margin-top: -300px;
    margin-left: 70px;}

#wizard {
   background-color: beige;
   position: relative;
   bottom: 450px;
   right: 100px;
   padding: 15px;
   width: 560px;
}

#wiki {
    position: relative;
    left: 420px;
    bottom: 620px;}

#spells {
    background-color: beige;
    position: relative;
    top: 20px;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
font-size: 20pt;}

#spells:hover {
    background-color: black;
color: white;}

#memes {
    background-color: beige;
    color:black;
    font-size: 20pt;
    position: relative;
    bottom: 480px;}
#memes:hover {
    color: white;
    background-color: black;
}

@media (max-width: 28em) {
   header {position: static;
        float: none; font-size: 12pt;}
    li {display: inline; padding: 5px;}
    nav {width: 100%; padding:1px;}
    #wiki {display: none;}
    #spells {position: relative; top: 600px; left: 50px;}
}