p {
    width: 600px;
    background-color: beige;
    font-family: sans-serif;
    position: relative;
    display: block;
    bottom:800px;
    left: 300px;
    font-size: 14pt;
}

img {
   margin: auto;
   display: block;
   position: relative;
   top: 50px;
}

#media {
    display: none;
}

#leftbutton {
    width: 30px;
    height: 50px;
    position: relative;
    bottom: 200px;
    left: 50px;
}
    
#rightbutton {
    width: 30px;
    height: 50px;
    position: relative;
    bottom: 200px;
    left:586px;
}

#slides {
    position: relative;
    bottom:800px;
    left: 250px;
    width: 700px;
}

@media (max-width: 45em) {
    div {display: none;}
    #media { display: block; width: 410px;}
}